{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "html", "php", "scss", "svg"],
          "plugins": ["line-numbers"],
          "theme": "tomorrow",
          "css": true
      }]
    ]
  }