@mixin nth-hover($number) {
	.photos__cell:nth-child(#{$number}n):hover {
		z-index: 25;

		.photos__cell__facts {
			transition: 0.5s ease-in-out;
			transform: translateX(-100%);
		}

		img {
			filter: grayscale(0%);
		}
	}
}

.photos {
	background-color: $color-dark;
	width: 100%;
	height: 100%;

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		// @include nth-hover(3);
		// .photos__cell {
		// 	height: 33.333vw;
		// }

		// @include mq(tablet-landscape) {
		// 	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		// 	@include nth-hover(5);
		// 	.photos__cell {
		// 		height: 20vw;
		// 	}
		// }

		&--2 {
			grid-template-columns: 1fr 1fr;
			@include nth-hover(2);

			.photos__cell {
				height: 50vw;
			}
		}

		&--3 {
			grid-template-columns: 1fr 1fr 1fr;
			@include nth-hover(3);

			.photos__cell {
				height: 33.333vw;
			}
		}

		&--4 {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			@include nth-hover(4);

			.photos__cell {
				height: 25vw;
			}
		}

		&--5 {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			@include nth-hover(5);

			.photos__cell {
				height: 20vw;
			}
		}

		&--6 {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			@include nth-hover(6);

			.photos__cell {
				height: 16.666vw;
			}
		}

		width: 100%;
	}

	&__size-controls {
		display: flex;
		align-self: flex-end;
		justify-self: flex-end;
		justify-content: flex-end;
		padding: 14px;
		box-sizing: border-box;

		div {
			display: none;
			padding: 10px;
			box-sizing: border-box;

			transition: all 0.3s;
			cursor: pointer;

			@include mq(tablet-landscape) {
				display: block;
			}
		}

		.data-size--active {
			margin: 0 16px;
			border-bottom: 1px solid $color-primary;
		}

		.data-size--mobile {
			display: block;

			@include mq(tablet-landscape) {
				display: none;
			}
		}
	}

	&__cell {
		width: 100%;
		box-sizing: border-box;
		position: relative;
		z-index: 20;

		&__facts {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 12px;
			box-sizing: border-box;

			color: $color-dark;
			background-color: $color-light;
			transition: 0s;

			@include mq(tablet-landscape) {
				padding: 24px;
			}

			h5 {
				margin: 0;
				color: $color-primary;

				@include copy-s-bold;

				@include mq(mobile-landscape) {
					@include h5;
				}

				@include mq(desktop) {
					@include h5;
				}
			}

			p {
				margin: 8px 0 0;
				// font-size: 16px;
				// font-weight: 500;
				// line-height: 180%;

				@include copy-s;

				@include mq(desktop) {
					margin: 16px 0 0;
					@include copy-l;
				}
			}
		}

		img {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			// z-index: 30;
			transition: all 0.5s;
			filter: grayscale(100%);
		}

		&:hover {
			z-index: 25;

			.photos__cell__facts {
				transition: 0.5s ease-in-out;
				transform: translateX(100%);
			}

			img {
				filter: grayscale(0%);
			}
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 18px 52px;
	box-sizing: border-box;

	@include copy-l-bold;
	text-transform: uppercase;
	font-weight: $font-weight-extra-bold;

	color: $color-dark;
	background-color: $color-light;
	transition: all 0.3s;

	border: none;
	cursor: pointer;

	@include mq(tablet) {
		padding: 24px 64px;
	}

	&:hover {
		background-color: $color-neutral-15;
	}

	&--hidden {
		display: none;
	}

	&--less {
		background-color: $color-dark;
		color: $color-light;
		border: 2px solid $color-light;

		&:hover {
			background-color: $color-neutral-90;
		}
	}
}

.button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 40px;
}
