.team {
	background-color: $color-dark;
	padding: 180px 0 180px;
	position: relative;
	color: $color-light;

	@include mq(tablet) {
		padding: 300px 0 180px;
	}

	@include mq(desktop) {
		padding: 400px 0 180px;
	}

	&__intro-img {
		position: absolute;
		width: 56%;
		max-width: 1000px;
		height: 28vw;
		max-height: 540px;
		object-fit: cover;
		top: 0;
		right: 0;
		transform: translateY(-50%);
	}

	&__header {
		display: flex;
		flex-direction: column;
		padding: 0 min(70px, 10%);
		box-sizing: border-box;
		margin-bottom: 120px;
		gap: 70px;

		@include mq(tablet-landscape) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-end;
		}

		&__title {
			display: flex;
			flex-direction: column;

			h2 {
				font-size: 60px;
				font-weight: 800;
				line-height: 120%;
				text-transform: uppercase;
				margin: 0;
			}

			h5 {
				font-size: 24px;
				font-weight: 700;
				line-height: 120%;
				text-transform: uppercase;
				margin: 16px 0 0;
			}
		}

		&__filters {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: 26px;

			@include mq(mobile-landscape) {
				flex-direction: row;
			}

			div {
				font-size: 16px;
				font-weight: 700;
				line-height: 120%;
				letter-spacing: 1.28px;
				text-transform: uppercase;

				transition: all 0.3s;
			}

			.data-filter--active {
				color: $color-text-primary;
			}
		}
	}
}

.data-filter {
	cursor: pointer;
}

#stage {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translate(-50%, -50%);
}
